Llenar el campo Usuario en Resoluciones (Quien y hora)

se encuentra que la hora de creación de la resolución, tanto para la resolución completa como para el estado de la resolución, estos se generan y obtienen directamente en el api de Administrativa mid, por lo tanto la primera parte de abordar este asunto seria modificar el mid y que este mande la hora, la cuestión es que si manda la fecha pero la hora es incorrecta

se encuentra ajusta el api administrativa mid para que este mande la hora correcta para bogota.

se encontro problemas en el administrativa crud ya que este recive bien la hora , e incluso se intento dar la hora con la zona de horaria de bogota,asi cmo se hizo con el mid, pero por alguna razon no usa este parametro y en su lugar crea otro diferente y lo manda a la base de datos.

segun las pruebas, la base de datos no tiene problemas, el problema radica en el crud
![imagen](https://user-images.githubusercontent.com/28914781/61499270-3dde3880-a98c-11e9-9b30-8dc81e32912b.png)


según foros también puede que tenga que ver con la hora de la base de datos, es una especulación nada mas.

puede que el rechazo se deba y genere otro debido a que es muy posible que la base de datos espere otro formato de hora, se probara usar el siguiente formato 

time.Now().Format(time.RFC3339)

se probraran los sigueintes formatos de hora

```
const (
        ANSIC       = "Mon Jan _2 15:04:05 2006"
        UnixDate    = "Mon Jan _2 15:04:05 MST 2006"
        RubyDate    = "Mon Jan 02 15:04:05 -0700 2006"
        RFC822      = "02 Jan 06 15:04 MST"
        RFC822Z     = "02 Jan 06 15:04 -0700" // RFC822 with numeric zone
        RFC850      = "Monday, 02-Jan-06 15:04:05 MST"
        RFC1123     = "Mon, 02 Jan 2006 15:04:05 MST"
        RFC1123Z    = "Mon, 02 Jan 2006 15:04:05 -0700" // RFC1123 with numeric zone
        RFC3339     = "2006-01-02T15:04:05Z07:00"
        RFC3339Nano = "2006-01-02T15:04:05.999999999Z07:00"
        Kitchen     = "3:04PM"
        // Handy time stamps.
        Stamp      = "Jan _2 15:04:05"
        StampMilli = "Jan _2 15:04:05.000"
        StampMicro = "Jan _2 15:04:05.000000"
        StampNano  = "Jan _2 15:04:05.000000000"
)
```

El problema de la Hora ha sido resulto, faltan subir unos cambios del api administrativa crud y mid para finalizarlo, pero la función que soluciona el problema ya esta en el repo Util_oas con su respectiva documentación. 

falta el obtener el usuario que crea la resolución, eso se espera culminar mañana martes

se modifica el api mid para que permita en sus comunicación con el crud el almacenamiento del dato del usuario que crea una resolución, solo se ha probado para la resolución de vinculación